@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    padding: 29px 0;

    .btn {
        min-width: 196px;
    }

    .opening-status-wrapper {
        position: relative;
        margin-bottom: 0;
        height: 24px;
        min-width: 140px;
        font-size: 1.25rem; // 20px

        @include media-breakpoint-down(sm) {
            font-size: 1rem;
            min-width: 100px;
        }

        span {
            position: absolute;
        }
    }
}

section.banner {
    background: $dark imgUrl('banner.png') right center;
    background-size: contain;
    padding: 119px 0 109px;

    form.form {
        width: 100%;

        .title {
            color: #fff;
            padding: 33px 0;
            text-align: center;
            background: $tertiary;
            line-height: 1;
            font-weight: 700;
            position: relative;
            display: flex;
            justify-content: center;

            .form-mrsplash-logo {
                position: absolute;
                top: -48px;
            }
        }

        .main {
            background: $white;
            padding: 26px 36px 41px;

            .input-group {
                border-radius: 2px;
                overflow: hidden;
                background: $white;
                border: 1px solid #EBEEEF;
            }

            .input-group-text {
                border: 0;
                border-radius: 0;
                background: $white;
                padding: 0 3px 0 18px;
                height: 100%;
            }

            input {
                color: $dark;
                font-size: 18px;
                min-height: 50px;

                @include media-breakpoint-up(lg) {
                    min-height: 55px;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &::placeholder {
                    color: #BDC1C2;
                }
            }
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}